.header{
    width: 100%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
}

#logo-flipin{
    width: 100%;
    max-width: 150px;
    height: auto;
  }

.jumbotron{
    background: #f2f2f2;
}

#myVideo {
    width: 100%;
    height: auto;
}

.overlay {
    position:absolute;
    top: 110px; 
    width: 100%;
    text-align: center;
    z-index:1;
    font-size: 5.5vw;  
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}

.grupoFormulario {
    position:absolute;
    top: 300px; 
    right: 1%;
    text-align: end;
    z-index:1;
    font-size: 2vw;  
    color:#fff;
    font-family: 'Montserrat', sans-serif;
}

.input-group>.form-control, .input-group>.form-select{
    font-size: 2vw;
}

.input-group .btn {
    position: relative;
    z-index: 2;
    font-size: 2vw;
}

.blog{
    background: #f2f2f2;
    text-align: center;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
}

.card{
    margin-bottom: 5%;
}

.card-title{
text-align: center;
}

.adicionales{
    background: #fff;
    text-align: center;
}

#chart-comparativo{
    width: 100%;
    height: auto;
    padding: 1%;
}

.footer{
    background: #f2f2f2;
    text-align: center;
}

.footer-container{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.secciones {
    font-family: 'Montserrat', sans-serif;
    color:#5271FF;
    display : flex;
    align-items : center;
    font-size: 16px;
    margin-top: 2%;
}

#redes{
    width: 100%;
    max-width: 30px;
    height: auto;
    margin-bottom: 2%;
}

.barra{
    background: #000;
    height: 1px;
    width: 95%;
    margin: auto;
}

.contacto{
    font-size: 1.3vw;  
    color:#5271FF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.info-contacto{
    padding: 1%;
}

/*#######MEDIA QUERIES#######*/

/* Size web */
@media (min-width: 1280px) and (max-width: 1440px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex: none;
    }

    .grupoFormulario{
        top: 350px;
    }

    .secciones {
        font-size: 20px;  
    }
}

/* Size tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .grupoFormulario{
        top: 250px;
    }
}

/* Size tablet-landscape */
@media (min-width: 992px) and (max-width: 1280px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex: none;
    }
}

/* Size mobile */
@media (max-width: 478px) {

    .grupoFormulario{
        top: 170px;
    }

    .secciones {
        font-size: 12px;  
    }
}

@media (min-width: 479px) and (max-width: 767px) {

    .grupoFormulario{
        top: 200px;
    }

    .secciones {
        font-size: 12px;  
    }
}



/* Size mobile-landscape */
@media (max-width: 850px) and (orientation: landscape) {
    .grupoFormulario{
        top: 240px;
    }
}